/*
font-family: 'Archivo', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Zilla Slab', serif;
*/

.App {
  padding: 50px 100px
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 48px;
  font-weight: 300;
}

.top-nav {
  display: flex;
  margin-bottom: 20px;
}
.top-nav button {
  flex: 1;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  padding: 10px;
  background: transparent;
  border-width: 0;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.top-nav .activeNavButton {
  background: black;
  color: white;
}

.caption {
  font: 14px/22px 'Archivo', sans-serif;
  max-width: 600px;
}

.param-picker {
  font: 12px Archivo;
  margin-bottom: 40px;
  width: 775px;
}
.param-picker-row {
  border-bottom: 1px solid black;
  margin: 40px 0 6px;
  display: flex;
}
.param-picker-row > *,
.param-picker-descs > * {
  flex: 0 0 175px;
  margin-right: 25px;
}
.param-picker-row select {
  appearance: none;
  background: white;
  padding: 6px 0;
  border-radius: 0;
  border-width: 0;
  border-top: 1px solid black;
}
.param-picker-descs {
  color: #666;
  display: flex;
}
.param-picker-descs abbr {
  text-decoration: underline dashed;
  cursor: help;
}

.tickLabel {
  font-size: 5px;
}
.scc line {
  transition: all 160ms ease;
  height: 1px;
}
.scc .djo {
  stroke-dasharray: 2;
}
.rcp85, .rcp45, .rcp60 {
  opacity: 0.3;
}
.SSP1 {
  stroke: rgb(230, 50, 19);
}
.SSP2 {
  stroke: rgb(0, 127, 185);
}
.SSP3 {
  stroke: rgb(13, 163, 71);
}
.SSP4 {
  stroke: rgb(132, 11, 189);
}
.SSP5 {
  stroke: rgb(204, 100, 4);
}

.SSP1.rcp60,
.SSP2.rcp60,
.SSP4.rcp60,
.SSP3.rcp85,
.SSP5.rcp85
 {opacity: 1;}

.fig1-attr {
  font: 10px helvetica;
  font-style: italic;
}

.fig1-major-y-label {
  white-space: normal;
  width: 50px;
}

@keyframes pulse {
  0% { opacity: 1}
  50% { opacity: 0.3}
  100% { opacity: 1}
}
.loading-map {
  animation: pulse 1s infinite ease-in-out;
}

.f2-country-detail {
  text-align: left;
  font: 22px helvetica;
  width: 600px;
  height: 100px;
}
.f2-country-detail p {
  margin: 0;
}
.f2-countryname.f2-countryname {
  line-height: 1em;
  margin: 4px 0;
}
.f2-clscc, .f2-nodata {
  font-size: 12px;
  width: 250px;
  margin-right: 20px;
}
.f2-nodata {
  font-style: italic;
}
.f2-legend-label {
  font-size: 10px;
  font-family: helvetica;
}
