.App {
  padding: 50px 0 100px 100px;
}
.tickLabel {
  font-size: 5px;
}
.scc line {
  transition: all 160ms ease;
  height: 1px;
}
.scc .djo {
  stroke-dasharray: 2;
}
.rcp85, .rcp45, .rcp60 {
  opacity: 0.3;
}
.SSP1 {
  stroke: rgb(230, 50, 19);
}
.SSP2 {
  stroke: rgb(0, 127, 185);
}
.SSP3 {
  stroke: rgb(13, 163, 71);
}
.SSP4 {
  stroke: rgb(132, 11, 189);
}
.SSP5 {
  stroke: rgb(204, 100, 4);
}

.SSP1.rcp60,
.SSP2.rcp60,
.SSP4.rcp60,
.SSP3.rcp85,
.SSP5.rcp85
 {opacity: 1;}

.fig1-attr {
  font: 10px helvetica;
  font-style: italic;
}

@keyframes pulse {
  0% { opacity: 1}
  50% { opacity: 0.3}
  100% { opacity: 1}
}
.loading-map {
  animation: pulse 1s infinite ease-in-out;
}

.f2-country-detail {
  text-align: left;
  font: 22px helvetica;
  width: 600px;
}
.f2-country-detail p {
  margin: 0;
}
.f2-countryname.f2-countryname {
  line-height: 1em;
  margin: 4px 0;
}
.f2-clscc, .f2-nodata {
  font-size: 12px;
  width: 250px;
  margin-right: 20px;
}
.f2-nodata {
  font-style: italic;
}
.f2-legend-label {
  font-size: 10px;
  font-family: georgia;
}